{% extends '../home/index.html' %}

{% block blog_header %}
<!-- Page Header-->
<header class="masthead"
    style="background-image: url('https://cdn.pixabay.com/photo/2016/11/29/01/14/athletes-1866487_960_720.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Crear/modificar</h2>
                    <span class="subheading">{{ tennisplayer.name }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block blog_main %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% if request.user.is_superuser == True %}

            <h3>Modificar jugador jugador</h3>

            {% if message_succes %}
            <p>{{ message_succes }}</p>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-primary" type="submit" value="Confirmar">
                <a class="btn btn-secondary" href="{% url 'players:players-list' %}">No, cancelar</a>
            </form>

            {% else %}
            <p>No tienes permisos para modificar o editar jugadores</p>
            <a class="btn btn-primary" href="{% url 'players:players-list' %}">Volver</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}