{% extends '../home/index.html' %}
{% load static %}

{% block blog_title %}
<title>Tenis+ | Iniciar sesión</title>
{% endblock %}

{% block blog_header %}
<!-- Page Header-->
<header class="masthead"
    style="background-image: url('https://cdn.pixabay.com/photo/2017/07/31/09/52/tennis-2557074_960_720.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Iniciar sesión</h2>
                    <span class="subheading">¡Bienvenid@ de nuevo! Inicia sesión para empezar</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block blog_main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h3>Datos de acceso</h3>

            {% if form.errors %}
            <p>Usuario o contraseña incorrecta, intenta de nuevo.</p>
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Ingresar" class="btn btn-primary">
                <a class="btn btn-secondary" href="{% url 'home:user-register' %}">Registrarse</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}