{% extends '../home/index.html' %}
{% load static %}

{% block blog_title %}
<title>Tenis+ | Cambiar contraseña</title>
{% endblock %}

{% block blog_header %}
<!-- Page Header-->
<header class="masthead"
    style="background-image: url('https://cdn.pixabay.com/photo/2017/07/31/09/52/tennis-2557074_960_720.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Datos del usuario</h2>
                    <span class="subheading">Cambio de contraseña</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block blog_main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

        <h4>¡Cambio de contraseña exitoso!</h4>
        <a class="btn btn-primary" href="{% url 'home:index' %}">Volver al inicio</a>
        <a class="btn btn-primary" href="{% url 'home:user-detail' user.id %}">Volver a mi cuenta</a>

        </div>
    </div>
</div>
{% endblock %}