{% extends '../home/index.html' %}
{% load static %}

{% block blog_title %}
<title>Tenis+ | Confirmar eliminación</title>
{% endblock %}

{% block blog_header %}
<!-- Page Header-->
<header class="masthead"
    style="background-image: url('https://cdn.pixabay.com/photo/2016/11/29/01/14/athletes-1866487_960_720.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Eliminar cuenta</h2>
                    <span class="subheading">{{ user.username }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block blog_main %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <h3>Eliminar cuenta</h3>

            <p>Confirma que quieres eliminar tu cuenta <b>{{ user.username }}</b></p>

            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Si, eliminar">
                <a class="btn btn-secondary" href="{% url 'home:user-detail' user.id %}">No, cancelar</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}