{% extends '../home/index.html' %}
{% load static %}

{% block blog_title %}
<title>Tenis+ | Datos del usuario</title>
{% endblock %}

{% block blog_header %}
<!-- Page Header-->
<header class="masthead"
    style="background-image: url('https://cdn.pixabay.com/photo/2017/07/31/09/52/tennis-2557074_960_720.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Datos del usuario</h2>
                    <span class="subheading">¡Bienvenid@ de nuevo {{user.first_name}} {{user.last_name}}!</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block blog_main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h3>Datos del usuario</h3>

                <ul>
                    <li>Username: {{ user.username }}</li>
                    <li>Nombre y apellido: {{user.first_name}} {{user.last_name}}</li>
                    <li>Email: {{user.email}}</li>
                </ul>
                <hr>
                {% if request.user.is_superuser %}
                <h4>Crear contenido</h4>
                <ul>
                    <li><a href="{% url 'home:new-add' %}">Crear nueva noticia »</a></li>
                    <li><a href="{% url 'players:players-add' %}">Crear nuevo jugador »</a></li>
                </ul>
                <hr>
                {% endif %}
                <h5>Opciones de cuenta</h5>
                <ul>
                    <li><a href="{% url 'home:password-change' %}">Cambiar contraseña »</a></li>
                    <li><a href="{% url 'home:avatar' %}">Actualizar foto de perfil »</a></li>
                    <li><a href="{% url 'home:user-delete' user.id %}">Eliminar usuario »</a></li>
                </ul>
                
                <hr>

                <a class="btn btn-secondary" href="{% url 'home:user-update' user.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'home:index' %}">Volver</a>

        </div>
    </div>
</div>
{% endblock %}